@{
    ViewData["Title"] = "Home Page";
}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/js/signup.js" ></script>
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="Fname" placeholder="First name"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" id="Lname" placeholder="Last name"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
        <div class="col-md-4 mb-3">
      <label for="validationCustom02">Email</label>
      <input type="email" class="form-control" id="Email" placeholder="Last name"  required>
    
    </div>
  </div>



  <button class="btn btn-primary" type="submit" id="Btn">Submit</button>
</form>

